/*_____________________________ Media queries __________________________________*/
																								   /*_______Smartphones_______*/
@media only screen and (max-width: 320px) {
/*=======Styles go here=======*/
body{
	background: #f4f7ed;
}
}
																												/*_______Tablets______*/
@media only screen and (min-width: 321px) and (max-width: 480px) {
/*=======Styles go here=======*/
body{
	background: #dde8ca;
}
}
																		    				/*_______Medium devices_______*/
@media only screen and (min-width: 481px) and (max-width: 1200px) {
/*=======Styles go here=======*/
body{
	background: #c6d8a6;
}
}
/*____________________ C l a s s selectors _____________________________________*/

body{
	font-family: "Times New Roman", Times, serif;
}

h2, h3 .imm{
	color: #749C69;
	font-style: oblique;
}

/*__________________________________ T A B L E _ on __________________________*/

table{
	width: 100%;
	}

table, th, td{
	border: 1px solid #749C69;
	}

th{
	color: #222e1f;
	height: 40px;
	text-align: left;
	font-size: 22px;
	}

td, th {
	padding: 8px 8px;
	width: 50%;
	vertical-align: top;
}

/*__________________________________T A B L E _ off __________________________*/


/*__________________________________ Subclass selectors ________________________*/

.sel{
	color: #225194;
}
.prop{
	color: #9AFF1B;
}
.semi{
	color: #E00033;
}
.bra{
	color: #FFBD0E;
}
.val{
	color: #434523;
}
.imp{
	color: #FF0025;
}
.conn{
	text-decoration: underline;
}
.med{
	color: #566348;
 text-decoration-style: solid;
}
.header1{
	background-color: #849B69;
}
.eng{
	color: #cc3d24;
}
.lang{
	color: #203992;
}
.lear{
	color: #203992;
	word-spacing: 10px;
}

/*______________________________________a___h r e f___________________________*/

a:link:hover,a:visited:hover{ /*___link change the color unedr the mouse _____*/
	color: #749C69;
	}
a:link,a:visited{  /*__________link change the color after visiting it _______*/
	color: #f6b71f;
}
